@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #344E41
}

.card {
  border-radius: 20px;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #A1B5D8;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: start;
}

.card-button-approve {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 1rem;
  border: none;
  background-color: #3A4F41;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card-button-delete {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 1rem;
  border: 2px solid #588157;
  background-color: red;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 75%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #3A4F41;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button-approve {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card:hover .card-button-delete {
  transform: translate(-50%, 50%);
  opacity: 1;
}